
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

body     {
  background: (0,0,0);
  font-family: Arial, Helvetica, sans-serif;
}

header   {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}

#logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 49%;
}
#logo img    {
  width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
#logo span   {
  display: inline-block;
}

nav     {
  width: 50%;
  display: inline-block;
  text-align: right;
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
nav ul li a:hover   {
  background: #444;
}